.fondo2 {background-image: url("http://www.piwwie.com/wp-content/uploads/2018/03/visite-runeterra-1-870x450.jpg")
}
.fondo2 {background-size:100%}
.gragas1 {padding-left: 100px;
    font-family: Andalus;
    line-height: 200%;
    font-size: 20px;
color: white;}
.missfortuneimg2 {width: 260px}
.table td{ width: 290px; }